/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:black;

	margin:0;
	padding:0;
	background:url("../images/banner.gif") repeat-x top;
	background-color:#939292;
	text-align:center;
}
html {
	min-height: 100%;
	margin-bottom: 1px;
}
.whitebg {
	background-color:white;
	float:left;
	overflow:hidden;
	padding-left:1px;
	height:264px;
}
.whitebg h1 {
	color:white;
	padding:0;
	margin:0 0 5px 0;
	font-size:16px;
	text-align:left
}
.whitebg h1 a {
	color:white;
}
.whitebg h1 a:hover {
	color:white;
}
.whitebg p {
	color:white;
	padding:0;
	font-size:12px;
	line-height:17px
}
.whitebg p a {
	color:white;
	font-weight:normal;
	display:block;
	width:83px
}
.whitebg p a:hover {
	color:white;
}
p {
	padding:0 5px 12px 0;
	margin:0;
	font-size:12px;
	color:#333333;
	line-height:17px;
}
a img {
	border:none;
}
a {
	color:#82ac1d;
	text-decoration:none;
	font-weight:bold;
	outline:none;
}

#logindiv {
	position:absolute;
	top:4px;
	right:0;
	float:right;
	}
#logindiv p a:hover {
	text-decoration:underline;
	}
a:hover {
	color:#a9d04b;
}
h1 {
	font-size:20px;
	font-weight:normal;
	margin:0 0 0 0;
	padding:0;
	color:#666666;
}
h2 {
	font-size:15px;
	font-weight:bold;
	margin:0 0 10px 0;
	padding:0;
	color:#666666;
}
h1 span {
	font-size:12px;
}
h1 a {
	font-weight:normal;
	color:#666666;
}
h1 a:hover {
	font-weight:normal;
	color:black;
}
ul, li {
	margin:0;
	padding:0;
}
ul {
	margin: 4px 0 0 5px;
	padding:0;
	font-size:13px;
}
li {
	list-style-type:disc;
	padding:0 0 2px 0px;
	margin:0;
	color:#FFF;
	margin-left:15px;
}
#headerdiv {
	height:54px;
	border:0px solid red;
	margin:0 0 12px 0;
}
#wrapper {
	width:780px;
	margin:0 auto;
	overflow:hidden;
	text-align:left;
	
}
#navbar {
	position:relative;
	float:left;
	height:95px;
	width:770px;
	padding-left:10px;
	background-color:#666666;
	background:url("../images/banner.gif") repeat-x top;
	margin-bottom:6px;
}

#menu {
	float:right;
	margin:0;
	padding:0;
	list-style:none;
	padding-right:30px;
}
#menu li {
	float:left;
	margin:0;
	padding:0;
	background:url("../images/menuitemright.gif") no-repeat right top;
	margin:0 6px;
	display:inline;
}
#menu a {
	color:white;
	display:block;
	background:url("../images/menuitemleft.gif") no-repeat left top;
	padding:2px 9px 10px 9px;
	font-size:11px;
	font-weight:bold;
}
#menu a:hover {
	color:#82ac1d;
}
#menu #current {
	background:url("../images/menuitemrightcurrent.gif") no-repeat right top;
}
#menu #current a {
	color:white;
	background:url("../images/menuitemleftcurrent.gif") no-repeat left top;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/ #header a {
	float:none;
} /* End IE5-Mac hack */
.login {
	width:50px;
	padding:0 0 0 3px;
	text-align:center;
	color:white;
}
.login p {
	padding:0;
	margin:0 0 2px 0;
	font-size:13px;
}
.login p a {
	color:white;
	text-decoration:none;
}
#mainmenu {
	float:right;
	width:580px;
	margin-top:48px;
	}
#mainmenu ul, #mainmenu li {margin:0; padding:0;}
#mainmenu li {margin:0 0 0 7px}
/* --------------------------- Home Page Layout -------------------*/
#fslogo {
	position:absolute;
	top:32px;
	left:0px;
	}
#sitecontent {
	position:relative;
	float:left;
	width:780px;
	background-color:#999999;
	background:url("../images/bgbgbg.gif") repeat-y left;
}
#sitecontentleft {
	float:left;
	position:relative;
	width:299px;
	border-right:1px solid white
	
}
/*background-color:#E9E9E9;*/
#sitecontentright {
	float:left;
	width:478px;
	background:url("../images/bgbgbg.gif") repeat-y left;
}
#sitecontentrighttext {
	float:right;
	background:url("../images/textbg1.gif") right top no-repeat;
	background-color:white;
	padding:0 10px 0 5px;
	width:334px;
	border-left:1px solid #999999;
	
}
#sitecontentrighttext p {
padding-left:5px;
}

#sitecontentrighttext h1 {
	padding:7px 0 0 10px;
}
/* --------------------------- Interior Page Layout -------------------*/

#sitecontentleftinternal {
	float:left;
	position:relative;
	width:299px;
	
}
#sitecontentrightinternal {
	float:left;
	width:780px;
}
#sitecontentrighttextinternal {
	float:right;
	background:url("../images/textbg1.gif") right top no-repeat;
	background-color:white;
	padding:0 10px 0 10px;
	width:629px;
	border-left:1px solid #999999;
}
#sitecontentrighttextinternal h1 {
	padding:15px 0 0 5px;
}
/*---------------------------------------------------------------------*/
.minheight {
	float:right;
	width:2px;
	height:469px;
}
#footer {
	float:left;
	width:778px;
	background-color:#4A4B4B;
	text-align:center;
	padding:10px 0 10px 0;
	border-top:6px solid #939292;
	position:relative;
}
#footer table {
	width:100%;
	padding:5px;
}
#footer p {
	font-size:10px;
	color:#FFF;
	margin:0;
	padding:0 0 0 0;
}
#footer p span {
	color:#82ac1d;
}
#footer p a:hover {
	font-weight:normal;
}
#footer p a {
	text-decoration:none;
	color:#FFF;
	font-weight:normal;
}
#footermenu {
	margin:0 auto;
	padding:10px 0 0 0;
	width:95%;
	border-top:1px solid #999999;
}
#footermenu ul {
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
}
#footermenu li {
	background:none;
	display:inline;
	margin:0 3px 0 3px;
	padding:0;
}
#footermenu a {
	color:#666666;
	text-decoration:none;
}
#footermenu a:hover {
	text-decoration:underline;
}
.contactform {
	font-size:12px;
	width:98%;
}
.contactform td {
	vertical-align:top;
}
input.textbox {
	border:1px solid #CCCCCC;
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	width:200px;
}
textarea.textbox {
	border:1px solid #CCCCCC;
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	width:350px;
	height:140px;
}
input.button {
	background-color:#CCCCCC;
	border:1px solid black;
}
.downloads {
	font-size:12px
}
.downloads th, td {
	vertical-align:middle;
	padding:5px;
}
.downloads th {
	height:30px;
	border-bottom:1px solid #999999;
}
.filesize {
	width:50px;
	text-align:center;
}
.filename {
	width:250px;
}
.download a {
	display:block;
	width:60px;
	background: transparent url("../images/downloadicon.gif") no-repeat;
	padding:13px 0 13px 30px;
}
.download a:hover {
	display:block;
	width:60px;
	background: transparent url("../images/downloadicon.gif") 0 -41px no-repeat;
	padding:13px 0 13px 30px;
}
.resourcetable td {vertical-align:top;}

/*
.homepagemenu {font-family:Arial, Helvetica, sans-serif; color:#666666; float:left; padding:0px; width:271px; text-align:left;}
.homepagemenu td {background:#F2F1F1;}
.homepagemeun td a img {float:left;}
.homepagemeun td p {float:right; text-align:left;}
.homepagemeun td p span {color:#333333; font-weight:bold;}

.homepagemenu a img {outline:none; border:none; text-decoration:none; margin:0px; padding:0px;} */
.homepagemenu {font-family:Arial, Helvetica, sans-serif; width:111px; margin:5px; float:left; height:21px; background:#F2F1F1; padding:5px 0 0 20px; position:relative; }
.homepagemenuoverlay {position:absolute; left:0; top:0;}
.homepagemenu p {text-align:left; color:#666666; font-size:12px; margin:0px; padding:0px }
.homepagemenu p span {color:#666666; font-weight:bold;}
#contact_form {
padding: 15px 10px 15px 10px;
width: 95%;
font-size:12px;
border-top:1px solid #CCC;
border-bottom:1px solid #CCC;
}
#contact_form .box {

	padding:3px;
	font-size:11px;
	width:55%;
	overflow:auto;
	border:1px solid #CCC;
}
#contact_form p {
	font-size:12px;
}
.fieldset {

border: solid #CCC 1px;
padding: 10px;
}
legend span {
display: block;
font-weight: bold;
color: #666;
font-size: 11px;
padding-bottom: 10px;
}

label {
display: block;
}
label span {
width: 8em;
margin-left: 20px;
float: left;
}
label input, label textarea {
width: 120px;
font-family: inherit;
}
#submit {
font-family: inherit;
}
.error {
	color:red;
	font-weight:bold;
}
.success {
	color:green;
	font-weight:bold;
}

table.account_table {
	border-collapse: collapse;
}
table.account_table th {
	padding: 0 5px;
}

table.account_table td {
	border: 1px solid #6C6C6C;
}